.Clicker{
    background-color: grey;
    width: 60%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.Clicker > p{
    font-size: 50px;
    font-weight: bold;
    color: brown;
}