 .App{
    padding: 20px;
    margin-top: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 .controls{
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .elem{
    margin: 2px;
 }